<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PicShare Gallery</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <header>
        <h1>Welcome to the PicShare Gallery</h1>
        
    </header>

        <div class="photo-gallery">
            <% if (photos.length === 0) { %>
                <p>No photos available. Upload some photos to see them here!</p>
            <% } else { %>
                <% photos.forEach(photo => { %>
                    <div class="photo-card">
                        <img src="<%= photo.imageUrl %>" alt="<%= photo.title %>" class="photo-image"/>
                        <h3 class="photo-title"><%= photo.title %></h3>
                        <p class="photo-description"><%= photo.description %></p>
                        <form action="/delete/<%= photo._id %>" method="POST" class="delete-form">
                            <button type="submit" class="delete-btn">Delete</button>
                        </form>
                    </div>
                <% }) %>
            <% } %>
        </div>
        <p class="para"><span>Share your<strong> Memory</strong> with us....</span></p>
        <a href="/upload" class="nav-btn"><button type="button">Upload your memory</button></a>
</body>
</html>
